<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="logpattern">%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=WHITE, DEBUG=green bold, TRACE=blue}</property>
    </Properties>

    <Appenders>
        <Console name="consoletje" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${logpattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- default -->
        <Root level="INFO">
            <AppenderRef ref="consoletje"/>
        </Root>

        <Logger name="org.example.een" level="INFO"/>
        <Logger name="org.example.twee" level="ALL"/>

    </Loggers>
</Configuration>
